In [2]:
import numpy as np
import pandas as pd

In [4]:
df = pd.read_csv("merged_meteors.csv",nrows=1000)

C:\Users\Pravin Raj\AppData\Local\Temp\ipykernel_11272\2054930339.py:1: DtypeWarning: Columns (16,18,20,22,24,26,28,30,32,34,36,38,40,42,48,50,52,54,60,62,64,66,68,70,72,74,84,86,88,90,92,94,96,98,100,102,104,106,109,111,114,116,118,120,126,128,135,137,140,142,145,147,149,151,153,155,162,164,170,172,175,177,179,181,183,185,188,190,193,195,198,200,202,204,206,208,210,212,214,216,218,220,222,224,239,241,244,246,248,250,252,254,257,259,265,267,270,272,275,277,293,295,298,300,303,305,311,313,319,321,324,326,332,334,337,339,349,351,354,356,366,368,370,372,374,376,382,384,391,393,395,397,399,401,403,405,407,409,424,426,428,430,433,435,437,439,441,443,445,447,449,451,453,455,458,460,462,464,466,468,470,472,474,476,478,480,483,485,487,489,491,493,495,497,511,513,515,517,519,521,523,525,527,529,532,534,536,538,540,542,544,546,548,550,552,554,556,558,560,562,564,566,568,570,572,574,576,578,580,582,585,587,589,591,594,596,598,600,603,605,607,609,612,614,617,619,621,623,625,627,629,631,633,635,637,639,641,643,645,647,649,651,653,655,657,659,661,663,665,667,669,671,673,675,677,679,681,683,686,688,694,696,698,700,702,704,706,708,710,712,714,716,718,720,722,724,726,728,730,732,734,736,738,740,742,744,746,748,750,752,754,756,758,760,762,764,766,768,771,773,775,777,779,781,784,786,788,790,792,794,796,798,800,802,804,806,808,810,812,814,816,818,821,823,825,827,829,831,833,835,837,839,841,843,846,848,850,852,854,856,858,860,862,864,866,868,870,872,874,876,878,880,883,885,888,890,903,905,918,920,923,925,928,930,938,940,942,944,947,949,952,954,957,959,972,974,977,979,1017,1019,1022,1024,1042,1044,1052,1054,1057,1059,1062,1064,1066,1068,1071,1073,1094,1096,1098,1100,1102,1104,1130,1132,1135,1137,1149,1151,1153,1155,1168,1170,1172,1174,1176,1178,1321,1323,1326,1328,1330,1332,1362,1364,1487,1489,1491,1493,1622,1624,1646,1648,1670,1672,1675,1677,1680,1682,1685,1687,1695,1697,1700,1702,1705,1707,1720,1722,1745,1747,1750,1752,1754,1756,1819,1821,1834,1836,1839,1841,1844,1846,1849,1851,1854,1856,1874,1876,1879,1881,1884,1886,1889,1891,1894,1896,1899,1901,1904,1906,1909,1911,1914,1916,1919,1921,1924,1926,1929,1931,2005,2007,2030,2032,2035,2037,2094,2096,2099,2101,2104,2106,2109,2111,2119,2121,2124,2126,2129,2131,2134,2136,2139,2141,2144,2146,2149,2151,2154,2156,2169,2171,2174,2176,2219,2221,2224,2226,2243,2245,2248,2250,2253,2255,2258,2260,2263,2265,2288,2290,2303,2305,2308,2310,2407,2409,2602,2604,2606,2608,2619,2621,2623,2625,2628,2630,2633,2635,2867,2869,2872,2874,2885,2887,2973,2975,3037,3039,3052,3054,3067,3069,3076,3078,3084,3086,3209,3211,3213,3215,3218,3220,3230,3232,3234,3236,3238,3240,3242,3244,3246,3248,3250,3252,3254,3256,3258,3260,3263,3265,3268,3270,3272,3274,3277,3279,3281,3283,3285,3287,3294,3296,3298,3300,3302,3304,3307,3309,3311,3313,3315,3317,3344,3346,3349,3351,3354,3356,3359,3361,3401,3403,3405,3407,3417,3419,3474,3476,3479,3481,3492,3494,3501,3503,3505,3507,3531,3533,3536,3538,3540,3542,3595,3597,3600,3602,3605,3607,3613,3615,3670,3672,3675,3677,3695,3697,3708,3710,3732,3734,3736,3738,3740,3742,3749,3751,3753,3755,3761,3763,3769,3771,3773,3775,3777,3779,3785,3787,3789,3791,3793,3795,3797,3799,3801,3803,3805,3807,3809,3811,3817,3819,3821,3823,3841,3843,3849,3851,3885,3887,3889,3891,3893,3895,3897,3899,3901,3903,3905,3907,3909,3911,3913,3915,3917,3919,3921,3923,3925,3927,3929,3931,3933,3935,3945,3947,3949,3951,3953,3955,3989,3991,3994,3996,3998,4000,4002,4004,4014,4016,4034,4036,4038,4040,4042,4044,4075,4077,4079,4081,4084,4086,4096,4098,4113,4115,4118,4120,4123,4125,4146,4148,4155,4157,4159,4161,4163,4165,4167,4169,4171,4173,4195,4197,4200,4202,4217,4219,4221,4223,4225,4227,4229,4231,4242,4244,4257,4259,4262,4264,4272,4274,4292,4294,4302,4304,4307,4309,4327,4329,4332,4334,4366,4368,4371,4373,4376,4378,4386,4388,4391,4393,4404,4406,4409,4411,4413,4415,4417,4419,4421,4423,4444,4446,4454,4456,4459,4461,4464,4466,4468,4470,4472,4474,4477,4479,4481,4483,4486,4488,4496,4498,4506,4508,4510,4512,4514,4516,4522,4524,4526,4528,4530,4532,4534,4536,4538,4540,4542,4544,4546,4548,4550,4552,4558,4560,4562,4564,4566,4568,4571,4573,4575,4577,4579,4581,4583,4585,4587,4589,4591,4593,4595,4597,4599,4601,4603,4605,4608,4610,4620,4622,4624,4626,4628,4630,4632,4634,4644,4646,4660,4662,4677,4679,4681,4683,4685,4687,4689,4691,4707,4709,4711,4713,4723,4725,4728,4730,4732,4734,4737,4739,4742,4744,4747,4749,4752,4754,4770,4772,4775,4777,4780,4782,4790,4792,4795,4797,4799,4801,4803,4805,4807,4809,4821,4823,4826,4828,4831,4833,4836,4838,4856,4858,4860,4862,4864,4866,4868,4870,4872,4874,4876,4878,4884,4886,4888,4890,4892,4894,4896,4898,4900,4902,4904,4906,4908,4910,4912,4914,4921,4923,4925,4927,4933,4935,4937,4939,4941,4943,4945,4947,4965,4967,4969,4971,4973,4975,4977,4979,4985,4987,4989,4991,4997,4999,5001,5003,5005,5007,5009,5011,5017,5019,5045,5047,5061,5063,5065,5067,5069,5071,5073,5075,5077,5079,5081,5083,5085,5087,5101,5103,5105,5107,5109,5111,5125,5127,5129,5131,5133,5135,5137,5139,5141,5143,5145,5147,5162,5164,5166,5168,5170,5172,5178,5180,5182,5184,5186,5188,5190,5192,5198,5200,5202,5204,5222,5224,5227,5229,5232,5234,5236,5238,5250,5252,5255,5257,5260,5262,5270,5272,5275,5277,5280,5282,5285,5287,5294,5296,5299,5301,5304,5306,5318,5320,5323,5325,5328,5330,5332,5334,5337,5339,5351,5353,5356,5358,5361,5363,5371,5373,5376,5378,5381,5383,5385,5387,5389,5391,5394,5396,5419,5421,5429,5431,5434,5436,5454,5456,5459,5461,5463,5465,5468,5470,5473,5475,5477,5479,5496,5498,5501,5503,5511,5513,5516,5518,5521,5523,5525,5527,5530,5532,5544,5546,5549,5551,5554,5556,5564,5566,5568,5570,5573,5575,5577,5579,5581,5583,5585,5587,5589,5591,5613,5615,5633,5635,5637,5639,5642,5644,5647,5649,5652,5654,5656,5658,5670,5672,5675,5677,5680,5682,5690,5692,5695,5697,5700,5702,5704,5706,5708,5710,5722,5724,5727,5729,5732,5734,5742,5744,5746,5748,5750,5752) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("merged_meteors.csv",nrows=1000)

In [6]:
df.columns

Index(['Unnamed: 0', 'Sample Name', 'Sample URL', 'Citation', 'Citation URL',
       'Collection', 'Data Source', 'Sample Type', 'Sample SubType',
       'Analysis Type',
       ...
       'WOLLASTONITE (mol) 1S', 'WOLLASTONITE (vol%) Method (comment)',
       'WOLLASTONITE (vol%) Method', 'WOLLASTONITE (vol%)',
       'WOLLASTONITE (vol%) Lab', 'WOLLASTONITE (vol%) 1S',
       'WOLLASTONITE (wt%) Method (comment)', 'WOLLASTONITE (wt%) Method',
       'WOLLASTONITE (wt%)', 'WOLLASTONITE (wt%) Lab'],
      dtype='object', length=7075)

In [12]:
important_columns = ['Sample SubType', 'Analyzed Material'] + [col for col in df.columns if 'wt' in col and "Method" not in col and "Lab" not in col]

In [14]:
len(important_columns)

178

In [8]:
cnt = 0
for col in df.columns:
    cnt += 1
print(cnt)

7075

In [9]:
cols = [col for col in df.columns if 'wt' in col and "Method" not in col and "Lab" not in col]

In [11]:
len(cols)

176

In [20]:
df = pd.read_csv("merged_meteors.csv", on_bad_lines='skip', encoding_errors='ignore', usecols=important_columns,engine='python')

In [ ]:
df.count()

Sample SubType        1000
Analyzed Material     1000
SiO2 (wt%)              83
TiO2 (wt%)              78
Al2O3 (wt%)             91
                      ...
ALBITE (wt%)             0
FAYALITE (wt%)           0
FERROSILITE (wt%)        0
ORTHOCLASE (wt%)         0
WOLLASTONITE (wt%)       0
Length: 178, dtype: int64

In [21]:
df.to_parquet("merged_meteors.parquet",index=False)

In [22]:
read_df = pd.read_parquet("merged_meteors.parquet")

In [23]:
read_df

,Sample SubType,Analyzed Material,SiO2 (wt%),TiO2 (wt%),Al2O3 (wt%),Fe2O3 (wt%),Fe2O3T (wt%),FeO (wt%),FeOT (wt%),MgO (wt%),...,Yb2O3 (wt%),YO2 (wt%),Zn (wt%) 2S,ZnO (wt%) S,Zr2O3 (wt%),ALBITE (wt%),FAYALITE (wt%),FERROSILITE (wt%),ORTHOCLASE (wt%),WOLLASTONITE (wt%)
0,L6 CHONDRITE,WHOLE ROCK,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,L6 CHONDRITE,WHOLE ROCK,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,L6 CHONDRITE,WHOLE ROCK,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,L6 CHONDRITE,WHOLE ROCK,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,L6 CHONDRITE,WHOLE ROCK,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
161642,EUCRITE,MINERAL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,61.4,NaN,1.5
161643,EUCRITE,MINERAL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,61.4,NaN,1.4
161644,EUCRITE,MINERAL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,61.9,NaN,1.6
161645,UREILITE,MINERAL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
161646,UREILITE,MINERAL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [24]:
df = pd.read_csv("Meteorite_Landings.csv")
df = df.dropna(subset=['year', 'reclat', 'reclong', 'recclass'])

In [26]:
df[df['year']> 1980]

,name,id,nametype,recclass,mass (g),fall,year,reclat,reclong,GeoLocation
16,Akyumak,433,Valid,"Iron, IVA",50000.0,Fell,1981.0,39.91667,42.81667,"(39.91667, 42.81667)"
18,Al Zarnkh,447,Valid,LL5,700.0,Fell,2001.0,13.66033,28.96000,"(13.66033, 28.96)"
22,Alby sur ChÃ©ran,458,Valid,Eucrite-mmict,252.0,Fell,2002.0,45.82133,6.01533,"(45.82133, 6.01533)"
30,Almahata Sitta,48915,Valid,Ureilite-an,3950.0,Fell,2008.0,20.74575,32.41275,"(20.74575, 32.41275)"
42,Aomori,2313,Valid,L6,320.0,Fell,1984.0,40.81056,140.78556,"(40.81056, 140.78556)"
...,...,...,...,...,...,...,...,...,...,...
45709,Zhongxiang,30406,Valid,Iron,100000.0,Found,1981.0,31.20000,112.50000,"(31.2, 112.5)"
45710,Zillah 001,31355,Valid,L6,1475.0,Found,1990.0,29.03700,17.01850,"(29.037, 17.0185)"
45711,Zillah 002,31356,Valid,Eucrite,172.0,Found,1990.0,29.03700,17.01850,"(29.037, 17.0185)"
45712,Zinder,30409,Valid,"Pallasite, ungrouped",46.0,Found,1999.0,13.78333,8.96667,"(13.78333, 8.96667)"
45714,Zubkovsky,31357,Valid,L6,2167.0,Found,2003.0,49.78917,41.50460,"(49.78917, 41.5046)"

In [28]:
df = pd.read_csv("Meteorite_Landings.csv")
df = df.dropna(subset=['year', 'reclat', 'reclong', 'recclass'])
df['year'] = pd.to_numeric(df['year'], errors='coerce').astype('Int64')  # ðŸ‘ˆ KEY LINE
df = df[df['year'].between(1980, 2010)]
df['mass (g)'] = df['mass (g)'].fillna(0)

In [29]:
df

,name,id,nametype,recclass,mass (g),fall,year,reclat,reclong,GeoLocation
16,Akyumak,433,Valid,"Iron, IVA",50000.0,Fell,1981,39.91667,42.81667,"(39.91667, 42.81667)"
18,Al Zarnkh,447,Valid,LL5,700.0,Fell,2001,13.66033,28.96000,"(13.66033, 28.96)"
22,Alby sur ChÃ©ran,458,Valid,Eucrite-mmict,252.0,Fell,2002,45.82133,6.01533,"(45.82133, 6.01533)"
30,Almahata Sitta,48915,Valid,Ureilite-an,3950.0,Fell,2008,20.74575,32.41275,"(20.74575, 32.41275)"
42,Aomori,2313,Valid,L6,320.0,Fell,1984,40.81056,140.78556,"(40.81056, 140.78556)"
...,...,...,...,...,...,...,...,...,...,...
45709,Zhongxiang,30406,Valid,Iron,100000.0,Found,1981,31.20000,112.50000,"(31.2, 112.5)"
45710,Zillah 001,31355,Valid,L6,1475.0,Found,1990,29.03700,17.01850,"(29.037, 17.0185)"
45711,Zillah 002,31356,Valid,Eucrite,172.0,Found,1990,29.03700,17.01850,"(29.037, 17.0185)"
45712,Zinder,30409,Valid,"Pallasite, ungrouped",46.0,Found,1999,13.78333,8.96667,"(13.78333, 8.96667)"
45714,Zubkovsky,31357,Valid,L6,2167.0,Found,2003,49.78917,41.50460,"(49.78917, 41.5046)"